<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="style.css" type="text/css"/>
</head>
<body>
<div class="panel"><a href="index.html">
    <h1 class = "zag">ETAN REGGIHS</h1></a>
    <div class="panel1">
        <h1 class ="catalog">CATALOG</h1>
    </div>
    <div class ="poisk">
        <h1 class="poiskn">| POISK</h1>
        </div><a href="index2.html">
    <img class="user" src="C:\SHP\Tilda_Icons_3_Store\Tilda_Icons_3st_man.svg" alt="login">
    </a></div>
    <div class="reg">
    <div class="b1"><a href="loger.html">
        <h1 class="h2">log in</h1>
        </a></div>
        <h1 class="h3">or</h1>
        <div class="b2"><a href="signer.html">
                           <h1 class="h4">sign in</h1></a></div>
    </div>
    
    </body>
</html>