<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="style.css" type="text/css"/>
</head>
<body>
<div class="panel"><a href="index.html">
    <h1 class = "zag">ETAN REGGIHS</h1></a>
    <div class="panel1">
        <h1 class ="catalog">CATALOG</h1>
    </div>
    <div class ="poisk">
        <h1 class="poiskn">| POISK</h1>
        </div><a href="index2.html">
    <img class="user" src="C:\SHP\Tilda_Icons_3_Store\Tilda_Icons_3st_man.svg" alt="login">
    </a></div>
    <div class="reg">
        <h1 class="h5">ПОЧТА</h1>
        <div class="pol1"></div>
        <h1 class="h6">ПАРОЛЬ</h1>
        <div class="pol2"></div>
        <div class="pol3"><h1 class="h7">ВОЙТИ</h1></div>
    </div>
    
    </body>
</html>