{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col">

            </div>
            <div class="col">
                <form action="/new_product/" method="post">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <input type="submit" value="Добавить">
                </form>
            </div>
            <div class="col">

            </div>
        </div>
    </div>

{% endblock %}